#top
    %img{:src=>'/images/logo.png'}
    #tagline A simple way to split expenses equally
#header
    %h2 Share this Link

#mainCol
    %br
    - 3.times do |i|
        %input{:type=>'text',:id=>"name_#{i}",:class=>"name",:value=>i} paid $
        %input{:type=>'text',:id=>"amount_#{i}",:class=>"amount money",:value=> (i+1) *10 }
        for
        %input{:type=>'text',:id=>"memo_#{i}"}
    %button#calculate Calculate
#drawer
    This is the Drawer