!!! XML
!!!
%html
    %head
        %title eeven | A simple way to split and share bills
        %link{:href => '/css/reset.css', :rel => 'stylesheet', :type => 'text/css'}
        %link{:href => '/stylesheet.css', :rel => 'stylesheet', :type => 'text/css'}
        %script{:type=>"text/javascript",:src=>"/js/mootools-core-1.3.1.js"}
        %script{:type=>"text/javascript",:src=>"/js/mootools-more-1.3.1.1.js"} 
        %script{:type=>"text/javascript",:src=>"/js/eeven.js"}
    %body#body
        =yield
        
        #more
            HELLO
        #footer
            Crafted with care and character by 
            %a{:href=>'http://envoked.com'} Adrian Wisernig 



