!!! XML
!!!
%html
    %head
        %title eeven | A simple way to split and share bills
        %link{:href => '/css/reset.css', :rel => 'stylesheet', :type => 'text/css'}
        %link{:href => '/stylesheet.css', :rel => 'stylesheet', :type => 'text/css'}
        %script{:type=>"text/javascript",:src=>"/js/mootools-core-1.3.1.js"}
        %script{:type=>"text/javascript",:src=>"/js/mootools-more-1.3.1.1.js"}
        %script{:type=>"text/javascript",:src=>"/js/mooclip.js"}   
        %script{:type=>"text/javascript",:src=>"/js/eeven.js"}
    %body#body
        =yield
        
        #more
            %a{:name=>'more'}
            
            .number What
            .description
                Eeven makes it easy to track shared expenses and split them equally. It's especially useful for trips or roommate situations where each person pays for different bills. Eeven takes all the bills, adds them up, and figures out who owes who and how much. Simply share the unique link with others. Everything's saved as you enter it.
                %a.smooth{:href=>'#main'} Ah, I get it.


        :javascript 
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-11096734-4']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })(); 



