!!! XML
!!!
%html
    %head
        %title eeven | A simple way to split and share bills
        %link{:href => '/css/reset.css', :rel => 'stylesheet', :type => 'text/css'}
        %link{:href => '/css/main.css', :rel => 'stylesheet', :type => 'text/css'}
        %script{:type=>"text/javascript",:src=>"/js/mootools.js"}
        %script{:type=>"text/javascript",:src=>"/js/moomore.js"} 
        %script{:type=>"text/javascript",:src=>"/js/main.js"}
    %body
        #container
            =yield
        #footer
            Hello This is a footer
                


