#container
    %img{:src=>'/images/logo.png'}
    #tagline A simple way to split expenses equally

    #mainCol
        %input.link{:value=>"http://eeven.envoked.com/#{params[:id]}",:readonly=>"readonly"}


:javascript
    window.addEvent('domready', function(){
      var eeven = new Eeven("mainCol","#{params[:id]}",'#{@split.data.to_json}');    
      
    });