#top
    %img{:src=>'/images/logo.png'}
    #tagline A simple way to split expenses equally
#header
    %h2 Share this Link

#mainCol
%button#calculate Calculate
%button#lBut Load


#drawer
:javascript
    window.addEvent('domready', function(){
      var eeven = new Eeven("mainCol","#{@id}");
      $("calculate").addEvent('click',function(event){
        eeven.calculate();
      }); 
      
      $("lBut").addEvent('click',function(event){
        eeven.load();
        
      })      
      
    });