#top
    %img{:src=>'/images/logo.png'}
    #tagline A simple way to split expenses equally
#header
    %h2 Share this Link

#mainCol


#drawer
:javascript
    window.addEvent('domready', function(){
      var eeven = new Eeven("mainCol","#{@id}");    
      
    });