#container
    %img{:src=>'/images/logo.png'}
    #tagline A simple way to split expenses equally
    
    %a#intro.smooth{:href=>'#more'}
        Eeven is a tool that makes it easy to split expenses equally between people.
        Simply enter your expenses, have others do the same, and Eeven will figure out who owes who and how much.

    #header    
        %a{:name=>'main'}
        %label
            Share me:
            %div Everything saves automagically
        %a#shareLink{'data-copy'=>"http://eeven.envoked.com/split/#{params[:id]}"}
            http://eeven.envoked.com/split/#{params[:id]}    
             
    
    #mainCol
    
    #debts    



:javascript
    window.addEvent('domready', function(){
      var eeven = new Eeven("mainCol","#{params[:id]}",'#{@split.data.to_json}');     
      
    });
    
    