//Colors and ish
$brown: #000e06
$teal: #479f7a
$mint: #F5F7BD
$magenta: #ec6c41
$gray: #999
$offWhite: #f2efeb
$yellowTan: #ffff99
$red: #b31221




// make things easier
=roundedCorner($radius)
    -moz-border-radius: $radius
    -webkit-border-radius: $radius
    border-radius: $radius

=gradient($start,$end)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end')
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($end))
    background: -moz-linear-gradient(top,    $start,    $end)

=rotate($degrees)
    -moz-transform: rotate($degrees)
    -o-transform: rotate($degrees)    
    -webkit-transform: rotate($degrees)
    filter:    progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})"
    zoom: 1

=opacity($value)
    opacity: $value
    -moz-opacity: $value
    filter: unquote("alpha(opacity=") + $value * 100 + unquote(")")    

// containers and other structures


html
    background: $brown

body
    background: $brown
    min-height: 100%
    text-align: center

#container
    width: 740px
    padding-top: 20px
    padding-bottom: 20px
    margin:
        left: auto
        right: auto
    overflow: auto
    padding-bottom: 40px
    color: $brown
    font:
        family: Georgia
        size: 24px
        style: italic
    overflow: hidden
    
#mainCol
    width: 740px
    float: left
    position: relative
    background: $offWhite
    border:
        color: $mint
    color: black
    +roundedCorner(10px)
    z-index: 1

    

#top
    float: left
    position: relative
    width: 1140px
    margin-bottom: 36px
    
    #tagline
        color: $teal
        font:
            style: italic
            size: 16px
    


input
    // background: $yellowTan
    margin: 10px
    padding: 3px
    border:
        color: $gray
        width: 2px
        style: dotted
        top: 0px
        left: 0px
        right: 0px
    // -webkit-box-shadow: inset 0 0 5px $gray
    // -moz-box-shadow: inset 0 0 5px $gray   
    // +roundedCorner(5px)
    font-size: 20px
    &:focus
        border:
            color: $brown
        
.link
    color: $red
    background: $yellowTan 
    border: 0px
    +roundedCorner(10px)
    font:
        size: 24px
    padding: 10px
    width: 500px
    -webkit-box-shadow: inset 0 0 8px $gray
    -moz-box-shadow: inset 0 0 8px $gray     
.money
    width: 100px
    margin-left: 0px
    text-align: right

button
    float: right
    +roundedCorner(10px)
    padding: 5px
    margin: 10px
    border:
        color: $magenta
        style: solid
    background: $magenta
    +gradient($magenta,#ec3b00)
    color: $offWhite
    
    font-size: 48px
    
    &:active
        border-style: inset
        padding:
            top: 6px
            bottom: 4px

.deleteRow
    background: url('/images/deleteRow.png') no-repeat
    overflow: hidden
    cursor: pointer
    width: 32px
    height: 32px
    display: inline-block
    text-indent: -999px
    +opacity(0.5)
    &:hover
        background-position: -32px 0px
        +opacity(1)
    
    

ul
    li
        margin-left: 10px

.person
    color: $teal
    
    ul
        border-top: 2px dotted $gray
        color: $magenta
    

.ma-container
    z-index: 9999
    color: #000
    border:
        color: $gray
    +roundedCorner(5px)
    background-color: #fff
    position: absolute
    visibility: hidden
    overflow-y: auto
    overflow-x: hidden
    ul
        list-style: none
        overflow: hidden
        width: 100%
    li
        padding: 2px 5px
        line-height: 18px
        font-size: 18px
        cursor: pointer
        float: left
        width: 100%
        overflow: hidden
    .ma-hover
        color: #fff
        background-color: $teal !important      
    .ma-even
        background-color: #efefef

    .ma-loading
        background-color: #fafba4

    .ma-selected
        background-color: #ccfda8

#footer
    color: $mint
    
#intro
    font-style: italic
    float: left
    position: relative
    color: $offWhite
    margin-bottom: 18px
    cursor: help
    +opacity(0.5)
    &:hover
        +opacity(1)
    